$columns: 12;
body {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.02));
    background-color: $background-color;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    
    $column-base-width: 100% / $columns;

    .container {
        margin: 0 auto;
        max-width: 92%;        
    }

    @for $i from 1 through $columns {
        .col-#{$i} {
            min-height: 1px;
            width: $column-base-width * $i;            
            margin: 0 auto;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1281px) {

    $column-base-width: 100% / $columns;
    
    header, main {
        max-width: 98%;
        margin: 0 auto;
    }

    .container {
        margin: 0 auto;
        max-width: 960px;        
    }

    @for $i from 1 through $columns {
        .col-medium-#{$i} {
            min-height: 1px;
            width: $column-base-width * $i;            
            margin: 0 auto;
        }
    }

}

@media screen and (min-width: 1282px) {

    $column-base-width: 100% / $columns;
    
    .container {
        margin: 0 auto;
        max-width: 1200px;       
    }

    @for $i from 1 through $columns {
        .col-medium-#{$i} {
            min-height: 1px;
            width: $column-base-width * $i;            
            margin: 0 auto;
        }
    }
        
}