@media screen and (max-width: 767px) {
    
    .box-feature {
        margin-bottom: 30px;        
    }
    
    .box-feature-img {
        font-size: 0px;
    }

    .box-feature-img > img {
        width: 100%;        
        border-radius: 8px 8px 0 0;
    }

    .box-feature-description {
        padding: 3rem 2rem 3rem;
        background-color: #fff;
        border-radius: 0 0 8px 8px;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    }

    .box-feature-description > h2 {
        font-size: 1.25rem;
        color: $text-color;
    }

    .box-feature-description > p {
        font-size: 1rem;
        color: $link-color;
        margin-top: 1rem;
    }

}